.home-page {
  margin-left: 15%;
  margin-top: 6%;

  .textroom td {
    font-size: 30px;
  }

  table, tr{
    border: 1px solid blue;
    background-color: rgba( 30, 144, 255, 0.25);
  }

  td {
  	font-size: 16px;
  	color: #fff;
  }


  .leftarrow {
    float: left;
    text-decoration: none;
    padding-right: 39%;
  }

  .rightarrow {
    float: right;
    text-decoration: none;
  }

  .time {
    float: center;
    width: 70px;
    background-color: rgba( 0, 49, 83, 0.4);
    font-size: 17px;
  }

  .room {
  	width: 23%;
  	font-size: 20px;
  }
  .textroom {
    font-size: 100px;
  }
}
