<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../src/styles/blankets/blanket1.scss">
    <title></title>
  </head>

  <body>
    <header>
      <h1>Добро пожаловать!</h1>
    </header>
    <section>
      <span>Вы перешли на страницу регистрации, но, к сожалению, она еще не готова</span>
      <p>
        В будущем на данной странице Вы сможете зарегистрировать свой аккаунт
      </p>

      <p>
        А затем перейти на страницу авторизации для входа
      </p>
    </section>


    <footer>
      <p>
        <b>Осталось совсем немного!</b>
      </p>
    </footer>
  </body>
</html>
